body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.flex {
  display: flex;
}

.borderbox {
  box-sizing: border-box;
}

#title {
  background-color: #D9E5FF;
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
}


#octopus {
  width: 15vh;
  height: 15vh;
  margin-top: -2.5vh;
}


#circle {
  height: 6vh;
  width: 6vh;
  background-color: white;
  border-radius: 50%;
  margin: auto 3vw auto 5vw;
  align-items: center;
  padding: 1vh;
  color: #7874CD;
  font-weight: bold;
  font-size: 4vh;
}

.word {
  font-size: 3vh;
  font-weight: bold;
  margin-top: 4vh;
}

#intro {
  flex-direction: column;
  align-items: center;
  padding: 2vh 0;
  line-height: 1.5;
}


.name {
  font-size: 3vh;
  font-weight: bold;
  color: #F2692C;
}

.point {
  font-weight: bold;
  color: #7874CD;
  font-size: 2vh;
}


.circle {
  width: 35vh;
  height: 35vh;
  background-color: #D9E5FF;
  border-radius: 50%;
  margin-top: 2vh;
}

#button_page {
  width: 80vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  left: -80vw;
  flex-direction: column;
  padding: 7vh 8vw;
  border-radius: 0 30px 30px 0;
}

.button {
  color: #7874CD;
  background-color: #FFD4EB;
  border: none;
  border-radius: 5px;
  font-size: 2vh;
  padding: 1.5vh 2vw;
  font-weight: bold;
  text-align: center;
  margin-top: 4vh;
}

#return {
  border: 0.3vh solid #7874CD;
  border-radius: 50%;
  width: 4vh;
  height: 4vh;
}

.arrow {
  border: solid #7874CD;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0.5vh;
  margin: 1vh;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#switch {
  justify-content: space-between;
  padding: 0 2vh;
  border-bottom: 0.5vh dashed #7874CD;
}


.choose {
  width: 32vw;
  color: #7874CD;
  font-weight: bold;
  text-align: center;
  padding: 1vh 0;
}

#more_question {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

#more_answer, #more_save {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 100vw;
  top: 0;
}

.ans {
  font-size: 2vh;
  padding: 2vh;
  border-bottom: 0.5vh dashed #FFD4E8;
  position: relative;
}

.pos {
  position: absolute;
  right: 2vh;
}

.open {
  color: #7874CD;
  background-color: #D9E5EF;
  border: none;
  border-radius: 5px;
  font-size: 1.5vh;
  font-weight: bold;
  text-align: center;
  margin-left: 2vw;
  padding: 0.5vh 1vw;
}

#q {
  background-color: #ddd;
}

.solved {
  color: #7874CD;
  background-color: #FFD4E8;
  border: none;
  border-radius: 5px;
  font-size: 1.5vh;
  font-weight: bold;
  text-align: center;
  margin-left: 2vw;
  padding: 0.5vh 1vw;
}

#down {
  background-color: #D9E5FF;
  width: 100vw;
  height: 7vh;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
}

.down_button {
  color: #7874CD;
  font-weight: bold;
  font-size: 2vh;
  width: 30vw;
  text-align: center;
  margin: auto;
}

#add_out {
  width: 30vw;
  padding: 1.5vh 0;
  border-left: 0.5vh dashed #7874CD;
  border-right: 0.5vh dashed #7874CD;
}

#add_in {
  border: 0.5vh solid #7874CD;
  background-color: white;
  width: 6vh;
  height: 100%;
  margin: auto;
  border-radius: 20%;
}

.cross {
  font-size: 5vh;
  font-weight: bolder;
  color: #7874CD;
  text-align: center;
  margin-top: -2.3vh;
}

